In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error, r2_score, mean_absolute_error
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn import preprocessing
%matplotlib inline

''' 
The best way to complete this activity is to copy the code in this file into a jupyter notebook file you create. You will also need to download the csv files with the data. This will allow you to see your outputs easier. Once you have finished with your code, copy it back into this file and submit it to Replit. Don't forget to also upload your new code to Github! 
'''

" \nThe best way to complete this activity is to copy the code in this file into a jupyter notebook file you create. You will also need to download the csv files with the data. This will allow you to see your outputs easier. Once you have finished with your code, copy it back into this file and submit it to Replit. Don't forget to also upload your new code to Github! \n"

In [31]:
# STEP 1: Import the housing data 
housing_data = pd.read_csv('Housing_Data.csv')
housing_data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [24]:
# STEP 2: Regression is used to determine the relationship between two or more variables within a dataset. We will be using the average area income, the average area house age, the average number of rooms, the average number of bedrooms and the area population to make a prediction about the pricing of houses within an area. Create two variables, x and y, to train your linear regression model.
X = housing_data[["Avg. Area Income", "Avg. Area House Age", "Avg. Area Number of Rooms", "Avg. Area of Number of Bedrooms", "Area Population"]]
y = housing_data["Price"]

KeyError: "['Avg. Area of Number of Bedrooms'] not in index"

In [25]:
# STEP 3: Use the appropriate scikit-learn method split your data into the segments that will be used for training and testing. Generally, 75% of your data is used for training and 25% is used to test.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

NameError: name 'X' is not defined

In [26]:
# STEP 4: Create a linear regression model using the data you have manipulated and scikit-learn's LinearRegression feature.
model = LinearRegression()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [27]:
# STEP 5: Can you show the correlation coefficients of all the features in your model?
print(model.coef_)

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [28]:
# STEP 6: Create a visualization (scatterplot, histogram, etc) that shows your models predictions and the actual values.

#predictions
y_pred = model.predict(X_test)

#set ficure size
plt.figure(figsize=(8,6))

#plot outputs
plt.scatter(y_test ,y_pred, colo="black")
plt.title("Predicted Values vs True Values")
plt.xlabel("True Values")
plt.ylabel("Predicted Values")

plt.show()

NameError: name 'X_test' is not defined

In [29]:
# STEP 7: To evaluate the performance of a model more than just the accuracy has to be considered. There are other metrics like the mean absolute error, the mean squared error and the r-squared error. Calculate these three metrics using scikit-learn's metrics import
#The mean square error
print("Mean square error: %.2f" % mean_squared_error(y_test, y_pred))
#The mean absolute error
print("Mean absolute error: %.2f" % mean_absolute_error(y_test, y_pred))
#The coefficent of determination: 1 is the perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

NameError: name 'y_test' is not defined

In [30]:
# Logistic Regression Practice

# STEP 1: Import the titanic data
titanic_data = pd.read_csv('titanic.csv')
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
# STEP 2: We will be using various features of the titanic data to predict whether or not a passenger survived. Create x and y variables to train your logistic regression model. 

#subset with relevant features
titanic_subset = titanic_data[["Pclass", "Sex", "Age", "Fare", "Embarked", "Survived"]]

#B4 building model, you want to drop with NAs
# or replace them (for example replace NAs with mean of the feature)
print(f"Number of rows before cleaning: {titanic_subset.shape[0]})
clean_subset =  titanic_subset.dropna()
print(f"Number of rows after cleaning: {clean_subset.shape[0]})

#Separate x and y variables

In [34]:
# STEP 3: Use the appropriate scikit-learn method split your data into the segments that will be used for training and testing. Generally, 75% of your data is used for training and 25% is used to test.

In [35]:
# STEP 4: Create a logistic regression model using the data you have manipulated and scikit-learn's LogisticRegression feature.

In [36]:
# STEP 5: Can you show the correlation coefficients of all the features in your model?

In [37]:
# STEP 6: Logistic regression models are evaluated differently than linear regression models. Use the appropriate metrics features from scikit learn to create a report and a matrix for your model